
<div class="banner">
  <div class="banner-content">
    <h2>Find Influencers here to help promote your brand</h2>
     <div class="link">
       <%= link_to 'See our Influencers here', influencers_path  %>
     </div>
  </div>
</div>

