.influencer-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  position: relative;
  padding: 60px;
  transition: .3s;
  border-radius: 10px;
}

.influencer-card:hover {
  transform: scale(1.03);
}

.influencer-card-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.influencer-title {
  h4 {
    margin: 0;
    margin-right: 16px;
  }
  h6 {
    margin: 0;
    opacity: .7;
    font-size: 14px;
  }
}

.card-stats {
    font-size: 16px;
    opacity: .7;
    margin: 0;
  }
